/**
 * Created by KiranWells
 * https://github.com/KiranWells
 */

:root {
  /* Colors from the nord theme */
  /* https://nordtheme.com/ */
  --fg: #d8dee9;
  --bg: #2e3440;
  --bg-dark: #1f2228;
  --ac: #5e81ac;
  --al: #81a1c1;
}

body {
  background: var(--bg-dark, #1f2228);
  color: var(--fg, #d8dee9);
}
main {
  box-sizing: border-box;
  width: 80vw;
  max-width: 50em;
  background: var(--bg, #3b4252);
  box-shadow: 2px 2px 4px 4px #0005;
  padding: 2em;
}

h1 {
  width: 60%;
  font-variant: small-caps;
  margin: auto;
  text-align: center;
  border-bottom: 4px double var(--fg, #e5e9f0);
}

h2 {
  border-bottom: 1px solid var(--fg, #e5e9f0);
}

img {
  margin: auto;
  display: flex;
}

footer {
  width: 100%;
  border-top: 1px solid var(--fg, #e5e9f0);
  margin-top: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.disclaimer {
  width: 80%;
  font-size: small;
}

.disclaimer::after {
  clear: both;
}

.links {
  margin: 1em;
  display: inline-flex;
}

.links>a {
  display: block;
  margin: 0 1em;
}

a:link {
  color: var(--ac, #5e81ac) !important;
}

a:visited {
  color:var(--al, #81a1c1) !important;
}

@media screen and (max-width: 600px) {
  body {
    padding: 0;
    margin: 0;
  }

  main {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

@media print {
  body {
    padding: 0;
    margin: 0;
    background-color: white;
  }

  main {
    width: 100%;
    margin: 0;
    box-shadow: none;
    background-color: white;
    color: black;
  }

  footer {
    display: none;
  }
}