/**
 * Created by KiranWells
 * https://github.com/KiranWells
 */

 :root, :root.dark {
  /* Default Colors from the nord theme */
  /* https://nordtheme.com/ */
  --fg: #d8dee9;
  --h1: #d8dee9;
  --h2: #d8dee9;
  --bg: #2e3440;
  --bg-dark: #1f2228;
  --ac: #5e81ac;
  --al: #81a1c1;
  --hl: #8fbcbb;
}

:root.light {
  /* Colors from the nord theme */
  /* https://nordtheme.com/ */
  --fg: #2e3440;
  --h1: #2e3440;
  --h2: #2e3440;
  --bg: #eceff4;
  --bg-dark: #d8dee9;
  --ac: #5e81ac;
  --al: #81a1c1;
  --hl: #b48ead;
}

:root.tropical {
  /* Colors custom generated */
  --fg: #c4c5c5;
  --h1: #bb3408;
  --h2: #dc710a;
  --bg: #242828;
  --bg-dark: #141818;
  --ac: #117a67;
  --al: #83a378;
  --hl: #d89d17;
}

:root.summer {
  /* Colors custom generated */
  --fg: #c5c4c4;
  --h1: #753516;
  --h2: #82662e;
  --bg: #181616;
  --bg-dark: #121010;
  --ac: #435e6c;
  --al: #3b4754;
  --hl: #425f2e;
  --tp: #6d7166;
}

:root.hyperlight {
  /* Colors custom generated */
  --fg: #d5e0d5;
  --h1: #a54d47;
  --h2: #5b8837;
  --bg: #272423;
  --bg-dark: #171413;
  --ac: #496a7c;
  --al: #955066;
  --hl: #e39743;
  --tp: #47c0b8;
}

:root.gruvbox {
  /* Colors from the gruvbox theme: https://github.com/morhetz/gruvbox */
  --fg: #fbf1c7;
  --h1: #d65d0e;
  --h2: #98971a;
  --bg: #32302f;
  --bg-dark: #282828;
  --ac: #458588;
  --al: #b16286;
  --hl: #d79921;
  --tp: #689d6a;
}

::selection {
  background-color: var(--ac);
  color: var(--bg);
}

a::selection {
  background-color: var(--ac);
  color: var(--fg);
}

body {
  background: var(--bg-dark, #1f2228);
  color: var(--fg, #d8dee9);
  font-size: 20px;
}

main {
  box-sizing: border-box;
  width: 84vw;
  max-width: 50em;
  background: var(--bg, #3b4252);
  box-shadow: 2px 2px 4px 4px #0005;
  padding: 2em;
}

/* h1:hover::before, */
h2:hover::before,
h3:hover::before,
h4:hover::before,
h5:hover::before,
h6:hover::before 
{
  content: "COPY LINK";
  text-align: center;
  position: absolute;
  transform: rotate(-90deg) translate(-2.5em, -3em);
  font-size: 0.3em;
  width: 1em;
  height: 1em;
}

.notify {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 3em;
  padding: 1em;
  background-color: var(--bg, #3b4252);
  border-left: .3em solid var(--ac, #5e81ac);
  transition: 1s;
}

h1 {
  color: var(--h1, #d8dee9);
  width: 60%;
  font-variant: small-caps;
  margin: auto;
  text-align: center;
  border-bottom: 4px double var(--fg, #e5e9f0);
}

h2 {
  color: var(--h2, #d8dee9);
  border-bottom: 1px solid var(--fg, #e5e9f0);
}

img {
  margin: auto;
  display: flex;
}

footer {
  width: 100%;
  border-top: 1px solid var(--fg, #e5e9f0);
  margin-top: 1em;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

aside {
  font-style: italic;
  font-size: smaller;
}

blockquote {
  background: var(--bg-dark);
  border-left: .5em solid var(--ac) !important;
  padding-right: .5em;
  border: none;
}

.caption {
  font-style: italic;
  font-size: smaller;
  text-align: center;
  width: 100%;
}

h1+aside {
  text-align: center;
}

summary {
  color: var(--hl, #8fbcbb);
  margin-left: -2em;
}

details {
  margin: 1em 0 1em 2em;
}

.disclaimer {
  width: 80%;
  font-size: small;
}

.disclaimer::after {
  clear: both;
}

.links {
  margin: 1em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.links>a {
  display: block;
  margin: 0 1em;
}

.themetoggle {
  position: fixed;
  margin: 1em;
  right:0;
  top:0;
  background-color: var(--bg, #2e3440);
  color: var(--fg, #eceff4);
  border-radius: .3em;
  padding: .3em .4em .2em .4em;
  box-shadow: 2px 2px 4px 1px #0004;
}

.themelist {
  display: none;
  position: absolute;
  top: 0;
  right: 100%;
  width: min-content;
  margin: 0em;
  border-radius: .3em;
  background-color: var(--bg, #2e3440);
  box-shadow: 2px 2px 4px 1px #0004;
}

.themetoggle:hover .themelist {
  display: block;
}

.themeitem {
  white-space: pre;
  border: none;
  width: 100%;
  text-align: center;
  padding: .4em .75em;
  border-radius: .3em;
  background-color: var(--bg, #2e3440);
  color: var(--fg, #eceff4);
  font-size: small;
  font-family: serif;
}

.themeitem:hover {
  background-color: var(--bg-dark, #1f2228);
}

a:link {
  color: var(--ac, #5e81ac) !important;
}

a:visited {
  color:var(--al, #81a1c1) !important;
}

@media screen and (max-width: 950px) {
  body {
    padding: 0;
    margin: 0;
  }

  main {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}

@media print {
  body {
    padding: 0;
    margin: 0;
    background-color: white;
  }

  main {
    width: 100%;
    margin: 0;
    box-shadow: none;
    background-color: white;
    color: black;
  }

  footer {
    display: none;
  }
}